<launch>
  <arg name="manager_name" default="nodelet_manager" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="nodeletTalker"
        args="load nodelet_tutorials/nodeletTalker $(arg manager_name)" >
  </node>      
</launch>